;; shadow-cljs configuration
{:source-paths
 ["cljs" "shims"]

 :dependencies
 [[rum "0.11.2" :exclusions [cljsjs/react cljsjs/react-dom sablono]]]

 :builds
 {:app {:target :npm-module
        :output-dir "lib"}}}
